@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import "libraries/nprogress";

section {
  margin-top: 100px;

  &:first-child {
    margin-top: 0;
  }
}

.pricelist {
  p {
    margin-bottom: 0;  
  }
}

p span {
  display: inline-block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

p,
a,
div {
  font-size: 1.2rem;
}

@layer components {
  .button-primary {
    @apply bg-green-800 text-white rounded-md transition-all duration-300 ease-linear pt-2 pb-2 px-5 inline-block mt-5 hover:bg-black;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }

  .button-secondary {
    @apply bg-green-800 text-white rounded-md transition-all duration-300 ease-linear pt-2 pb-2 px-5 inline-block mt-2 hover:bg-black hover:tx-white;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }

  .container {
    @apply relative max-w-7xl m-auto px-4;
  }
  .primaryMenu > a:last-child {
    position: absolute;
    right: 0;
    @apply bg-green-800 text-white rounded-md transition-all duration-300 ease-linear pt-2 pb-2 px-5 inline-block hover:bg-black;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }
}
p {
  margin: 0 0 20px;
}

.cols-2 .singlecol {
  width: 50%;
}

.cols-3 .singlecol {
  width: 50%;
}

.cols-4 .singlecol {
  width: 50%;
}

.cols-5 .singlecol {
  width: 50%;
}

.cols-6 .singlecol {
  width: 50%;
}

.cols-7 .singlecol {
  width: 50%;
}

.cols-8 .singlecol {
  width: 50%;
}

.cols-9 .singlecol {
  width: 50%;
}

.cols-10 .singlecol {
  width: 50%;
}

.cols-11 .singlecol {
  width: 50%;
}

.cols-12 .singlecol {
  width: 50%;
}

//992 end
/*-Tablet (Orientation: portrait) 768px-*/
@media screen and (max-width: 768px) {
  .cols-2 .singlecol {
    width: auto;
  }
}